* {
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: black;
}

#header,
#footer {
  text-align: center;
}

img {
  float: left;
  margin-left: 30px;
  margin-right: 30px;
}

h1,
h2,
h4,
p,
ul {
  color: yellow;
}

/* Every movie is wrapped in a show container
Image on the left, and info on the right */
.showContainer {
  height: 350px;
}
