body {
  background-color: black;
}

#header,
#footer {
  text-align: center;
}

.showContainer {
  height: 350px;
}

img {
  float: left;
  margin-left: 30px;
  margin-right: 30px;
}

h1,
h4,
p,
ul {
  color: yellow;
}
